.about {
  background-color: var(--rose-white);
  max-width: var(--mobile-width);
  padding-top: 125px;
  padding-bottom: 39px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .about {
    max-width: var(--tablet-width);
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    max-width: 1280px;
    padding-top: 125px;
    padding-bottom: 39px;
  }
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.about__label {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--flamingo-pink);
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about__label {
    font-size: 26px;
    line-height: 1.15;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .about__label {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    padding-bottom: 15px;
  }
}

.about__header {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--cherry);
  padding-bottom: 26px;
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  .about__header {
    font-size: 48px;
    line-height: 1.14;
    padding-bottom: 50px;
    max-width: max-content;
  }
}

@media screen and (min-width: 1280px) {
  .about__header {
    font-size: 58px;
    letter-spacing: 0.06em;
    padding-bottom: 55px;
  }
}

.about__content {
  display: block;
}

@media screen and (min-width: 768px) {
  .about__content {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .about__content {
    background-image: url(/./images/milkdrop-desktop-x1.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-width: 1280px) {
  .about__content {
    background-image: url(/./images/milkdrop-desktop-x2.png);
  }
}

.about__container {
  padding-inline: 20px;
  padding-bottom: 46px;
}

@media screen and (min-width: 768px) {
  .about__container {
    padding-inline: 39px 17px;
    padding-bottom: 0;
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .about__container {
    padding-inline: 112px 74px;
    width: 55%;
  }
}

.about__image {
  width: 100%;
}

.about__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .about__box {
    align-items: flex-start;
    width: 50%;
    padding-top: 50px;
    padding-right: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .about__box {
    width: 45%;
    padding-top: 51px;
    padding-right: 117px;
  }
}

.about__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  padding-inline: 50px;
  padding-bottom: 47px;
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.79;
    padding-bottom: 35px;
    padding-inline: 0;
  }
}

@media screen and (min-width: 1280px) {
  .about__text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}

.about__paragraph {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--natural-grey);
  background-image: url(/./images/milkdrop-mobile-x1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-inline: 50px;
  background-position: bottom;
  padding-bottom: 27px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__paragraph {
    background-image: url(/./images/milkdrop-mobile-x2.png);
  }
}

@media screen and (min-width: 768px) {
  .about__paragraph {
    background: none;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
    padding-inline: 0;
    padding-bottom: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .about__paragraph {
    line-height: 1.93;
    padding-bottom: 45px;
  }
}

.about__button {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--cherry);
  max-width: 176px;
  background: var(--white);
  border: 0;
  border-radius: 22px;
  padding-inline: 35px;
  padding-block: 15px;
  cursor: pointer;
  &:hover {
    background-color: var(--dawn-pink);
  }
}

@media screen and (min-width: 768px) {
  .about__button {
    font-size: 16px;
    line-height: 1.31;
    padding-block: 14px;
  }
}

.about__button-icon {
  margin-left: 13.62px;
}
