@mixin text($line-height) {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: $line-height;
}

.section-contacts {
  padding: 43px 0 56px;

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    padding: 59px 0 79px;
  }

  @media screen and (min-width: 1280px) {
    padding: 66px 0 82px;
  }
}

.section-contacts--gradient {
  background-image: linear-gradient(to bottom, var(--white) 8.1%, var(--rose-white) 8.1%);

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    background-image: linear-gradient(to bottom, var(--white) 17%, var(--rose-white) 17%);
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/milkdrop-contact-desktop-x1.png),
      linear-gradient(to bottom, var(--white) 20%, var(--rose-white) 20%);
    background-size: contain;
    background-position: 50% 36%;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/milkdrop-contact-desktop-x2.png),
        linear-gradient(to bottom, var(--white) 20%, var(--rose-white) 20%);
      background-size: contain;
      background-position: 50% 36%;
      background-repeat: no-repeat;
    }
  }
}

.is-invisible {
  display: none;
}

.container-contacts {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 100%;

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    padding: 0 36px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0 115px;
  }
}

.contacts {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: 1280px) {
    gap: 30px;
  }

  &__item {
    width: 100%;
    max-width: 330px;
    background-color: var(--white);
    padding: 43px 21px 43px 20px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      flex-basis: calc((100% - 40px) / 3);
      padding: 50px 32px 50px 31px;
      gap: 30px;
    }

    @media screen and (min-width: 1280px) {
      flex-basis: calc((100% - 60px) / 3);
      padding: 51px 44px 62px 43px;
      gap: 32px;
    }
  }

  &__category {
    @include text(186%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white);
    border-radius: 4px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    &--cafe {
      background-color: var(--deep-peach);
      width: 80px;
    }

    &--foodtruck {
      background-color: var(--sprout);
      width: 130px;
    }
  }

  &__place {
    @include text(186%);
    letter-spacing: 0.04em;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin-bottom: 14px;
    }
  }

  &__coment {
    @include text(150%);
    color: var(--natural-grey);

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__open {
    padding-block: 25px;
    border-top: 1px solid var(--platinum);
    border-bottom: 1px solid var(--platinum);

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      padding-block: 30px;
    }

    @media screen and (min-width: 1280px) {
      padding-block: 32px;
    }
  }

  &__days {
    @include text(186%);

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__hours {
    @include text(186%);
    color: var(--flamingo-pink);
    margin-top: -2px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }

    &--margin {
      margin-bottom: 10px;

      @media screen and (min-width: 768px) {
        margin-bottom: 15px;
      }
    }
  }

  &__info {
    list-style: none;
  }

  &__link {
    @include text(150%);
    color: var(--natural-grey);
    text-decoration: none;
    transition: color var(--transition-duration) var(--cubic-bezier);

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--cherry);
}

.map-btns {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  &--margin {
    margin-top: 54px;
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin-top: 81px;
    }

    @media screen and (min-width: 1280px) {
      margin-top: 86px;
    }
  }

  &__btn {
    border-radius: 22px;
    border: 0;
    width: 161px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 11px;
    transition: background-color var(--transition-duration) var(--cubic-bezier);
    cursor: pointer;

    &--red {
      background-color: var(--cherry);
      color: var(--white);

      @media screen and (max-width: 767px) {
        margin-bottom: 10px;
      }

      @media screen and (min-width: 768px) {
        margin-right: 15px;
        width: 192px;
      }

      @media screen and (min-width: 1280px) {
        width: 198px;
      }
    }

    &--white {
      background-color: var(--white);
      color: var(--cherry);

      @media screen and (min-width: 768px) {
        width: 175px;
      }

      @media screen and (min-width: 1280px) {
        width: 180px;
      }
    }
  }

  &__icon {
    width: 8.56px;
    height: 16px;
    margin-top: 2px;

    &--white {
      stroke: var(--white);
      margin-left: 8px;

      @media screen and (min-width: 768px) {
        margin-left: 13px;
      }
    }

    &--red {
      stroke: var(--cherry);
      margin-left: 13px;
    }
  }
}

.map-btns__btn--red:hover,
.map-btns__btn--red:focus {
  background-color: var(--cardinal);
}

.map-btns__btn--white:hover,
.map-btns__btn--white:focus {
  background-color: var(--dawn-pink);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop-contacts {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transition-duration) var(--cubic-bezier);
  z-index: 999;
}

.modal-contacts {
  box-sizing: border-box;
  max-width: 300px;
  height: auto;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 20px;
  padding-top: 45px;

  @media screen and (min-width: 480px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    max-width: 500px;
    width: 100%;
  }

  &--position {
    margin: auto;
  }

  &__close-button {
    background-color: var(--platinum);
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &__icon {
    stroke: var(--black);
  }
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 400px;

  @media screen and (min-width: 768px) {
    height: 500px;
  }

  &__gmap_canvas {
    overflow: hidden;
    background: none;
    width: 100%;
    height: 400px;

    @media screen and (min-width: 768px) {
      height: 500px;
    }
  }
  &__gmap_iframe {
    height: 400px;

    @media screen and (min-width: 768px) {
      height: 500px;
    }
  }
}
