.customer-reviews {
  padding-top: 40px;
  padding-bottom: 43px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__img {
    margin: 0 auto;
  }
  &__block {
    width: 280px;
    height: 308px;
    background-color: var(--alabaster);
    display: flex;
    justify-content: center;
    padding: 43px 66px 26px 66px;
    margin: 0 auto;
  }

  &__text {
    background-image: repeating-linear-gradient(
      to bottom,
      #fafafa,
      #fafafa 27px,
      var(--platinum) 27px,
      var(--platinum) 28px,
      #fafafa 26px
    );
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    margin: 0;
  }
  &__icon {
    margin: 0 auto;
  }
  &__customer {
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
  }
  &__icon-list {
    display: flex;
  }
  &__icon-1 {
  }
  &__icon-2 {
  }
  &__icon-3 {
  }
}
@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 110px;
    padding-right: 110px;

    gap: 15px;
    &__block {
      width: 100%;
      height: 100%;
      max-width: 926px;
    }
    &__text {
      font-size: 14px;
    }

    &__customer {
      font-size: 16px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 176px;
    padding-right: 176px;
    gap: 15px;
    &__block {
      max-width: 926px;
    }
    &__text {
      font-size: 16px;
    }
    &__customer {
      font-size: 20px;
    }
  }
}
