.customer-reviews {
  padding-top: 40px;
  padding-bottom: 43px;
  display: flex;
  flex-direction: column;

  align-items: center;
  &__img {
    margin: 0 auto;
    width: 84px;
    height: 84px;
  }
  &__block {
    margin-top: 29px;
    width: 280px;
    height: 308px;
    background-color: var(--alabaster);
    display: flex;
    justify-content: center;
    padding: 43px 66px 26px 66px;
    position: relative;
    margin-bottom: 52px;

    &::after {
      content: '';
      background-size: contain;
      background-image: url(/images/dots-x2.png);
      // (dots 1 są w okropnej jakości)
      position: absolute;
      background-repeat: no-repeat;
      width: 28px;
      height: 4px;
      top: 330px;
    }
  }
  &__text {
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(0%, 0%, 0%, 0) 0,
      rgba(0%, 0%, 0%, 0) 27px,
      var(--platinum) 27px,
      var(--platinum) 28px,
      rgba(0%, 0%, 0%, 0%) 26px
    );
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    z-index: 1;
    position: relative;
    &::before {
      content: '';
      background-image: url(../images/quote-mobile-x1.png);
      background-size: contain;
      background-repeat: no-repeat;
      top: -15px;
      position: absolute;
      z-index: -1;
      left: -3px;
      width: 54px;
      height: 40px;
    }
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .customer-reviews__text::before {
      background-image: url(../images/quote-mobile-x2.png);
    }
  }
  &__dots {
    fill: var(--cardinal);
  }
  &__customer {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 30px;
  }
  &__icon-list {
    display: flex;
    justify-content: center;
    gap: 18px;
  }
  &__dots-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__icon-1 {
    display: block;
    fill: var(--light-grey);
  }
  &__icon-2 {
    display: block;
    fill: var(--light-grey);
  }

  &__icon-3 {
    display: block;
    fill: var(--light-grey);
  }
}
@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 110px;
    padding-right: 110px;

    &__block {
      margin-top: 19px;
      width: 589px;
      height: 164px;
      max-width: 926px;
      margin-bottom: 42px;
      &::after {
        top: 185px;
      }
    }

    &__text {
      font-size: 14px;
      &::before {
        left: -36px;
      }
    }

    &__customer {
      font-size: 16px;
      margin-bottom: 35px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .customer-reviews {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 176px;
    padding-right: 176px;

    &__block {
      margin-top: 15px;
      width: 962px;
      height: 138px;
      &::after {
        top: 160px;
      }
    }
    &__text {
      font-size: 16px;
      &::before {
        left: -30px;
      }
    }
    &__customer {
      font-size: 20px;
    }
  }
}
