* {
  margin: 0;
}

.footer {
  background-color: red;
  display: block;
  padding-top: 57px;
}

/* FOOTER TITLE */

.footer__title--primary {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--flamingo-pink);
  display: flex;
  justify-content: flex-start;
  padding-bottom: 17px;
  padding-left: 20px;
}

.footer__title--secondary {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--cherry);
  display: flex;
  justify-content: flex-start;
  padding-bottom: 43px;
  padding-left: 20px;
}

/* END FOOTER TITLE */

/* FOOTER SOCIAL  */

.social__list--section {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  padding-bottom: 46px;
  padding-right: 20.5px;
}

.social__list--footer {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.social__icon--footer {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.social__link--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--soft-pink);
}

.social__link--footer:hover,
.social__link--footer:focus {
  background-color: var(--cherry);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic-bezier);
}

/* TEL */
.footer__contact--info {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer__contact {
  color: var(--cherry);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  padding-left: 5px;
  padding-bottom: 43px;
  padding-right: 20px;
}
/* END TEL */

/* UNDER BORDER  */
.footer__border {
  display: flex;
  justify-content: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  color: var(--natural-grey);
  padding-bottom: 25px;
  border-top: 1px solid var(--platinum);
  padding-top: 22px;
}

@media (min-width: 768px) {
  .footer {
    min-width: 768px;
    padding-top: 83px;
  }

  .footer__title--primary {
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 16px;
    width: 340px;
    margin-right: 0;
  }

  .footer__title--secondary {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.06em;
    width: 340px;
    margin-right: 0;
    padding-bottom: 91px;
  }

  .footer__section--primary {
    display: flex;
    justify-content: space-around;
  }

  .social__link--footer {
    width: 34px;
    height: 34px;
  }

  .footer__contact--info,
  .footer__contact {
    font-size: 14px;
  }

  .footer__border {
    line-height: 186%;
    padding-bottom: 18px;
    padding-top: 29px;
  }

  .footer__border br {
    display: none;
  }
}

@media (min-width: 1280px) {
  .footer__section--primary {
    padding-left: 114px;
    padding-right: 121px;
  }
  .footer__title--primary br,
  .footer__title--secondary br {
    display: none;
  }

  .footer__title--primary {
    font-size: 30px;
    width: 472px;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }

  .footer__title--secondary {
    font-size: 58px;
    line-height: 66px;
    width: 477px;
  }

  .social__list--section {
    padding-bottom: 50px;
    gap: 24px;
  }

  .footer__contact {
    font-size: 16px;
  }

  .footer__contact:focus,
  .footer__contact:hover {
    color: #907e82;
  }

  .footer__contact--info {
    font-size: 16px;
  }

  .footer__border {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
