.container2 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 97px;
  padding-bottom: 80px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-top: 140px;
    padding-bottom: 121px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-top: 139px;
    padding-bottom: 123px;
  }
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery-gradient {
  background-image: linear-gradient(to bottom, #fff5f6 48.49%, #ffffff 48.49%);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #fff5f6 46.85%, #ffffff 46.85%);
  }
  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(to bottom, #fff5f6 44.79%, #ffffff 44.79%);
  }
}

.gallery img {
  display: block;
  max-width: 100%;

  @media screen and (min-width: 480px), (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
