.container2 {
  margin-left: auto;
  margin-right: auto;
  /*  width: 100%; */

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery-gradient {
  background-image: linear-gradient(to bottom, #fff5f6 39.77%, #ffffff 39.77%, #ffffff 100%);
}

.gallery img {
  display: block;
  max-width: 100%;

  @media screen and (min-width: 480px), (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}
