h1 {
  font-size: 0;
  line-height: 0;
}
.header {
  max-width: 767px;
  background-color: #ffb8ca;
  width: 100%;
  height: 502px;
  padding-top: 6px;
}
.header__menu {
  margin-left: 20px;
  display: flex;
  z-index: 5;
  & .logo {
    margin-right: 110px;
  }
}
.ellipse-mobile {
width: 284px;
position: absolute;
top: 83px;
right: 0px;
}
.arrow {
  width: 18px;
}
.ellipse-desktop {
  display: none;
}
.header__toggle {
  z-index: 5;
  position: absolute;
  top: 25px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 12px;
  & .bar {
    height: 2px;
    width: 100%;
    background-color: #d41443;
  }
}
.header__nabar--links {
  display: none;
}
.header__nabar--links.active {
  display: flex;
}
.header__navbar {
  flex-direction: column;
  align-items: flex-start;
}

.header__background--component-mobile {
  position: absolute;
  right: 0px;
  top: 92px;
  z-index: 2;
  
  }
.header__headline {
  display: flex;
  position: relative;
  width: 218px;
  z-index: 5;
  margin-left: 20px;
  margin-top: 137px;
}

.header__headline--general {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;

  z-index: 5;
}
.header__headline--first {
  color: #ffffff;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.header__headline--second {
  color: #d41443;
  font-size: 48px;
  line-height: 46px;
}
.header__button-container {
  max-width: 155px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  gap: 8px; 
  & a {
    text-decoration: none;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #D41443;
    &:hover {
      color: #ffffff;
    }
  }
}
.header__button {
  border-radius: 20px;
  height: 24px;
  padding: 8px 14px;
  display: flex;
  align-content: center;
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #d41443;
  background-color: #ffffff;
  border: none;
  z-index: 2;
}
.header__button:hover,
.header__button:focus {
  cursor: pointer;
  background-color: #d41443;
  color: #ffffff;
}
/* RES 768px */
.header__menu-button {
  visibility: hidden;
  width: 0;
}
.header__eco-container {
  margin-left: 20px;
  margin-top: 19px;
  display: flex;
  height: 126px;
  max-width: 230px;
  visibility: hidden;
}
.header__eco-container--description {
  position: relative;
  top: 47px;
  right: 4px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  margin-bottom: 7px;

  color: #ffffff;
}
.header__background--component {
  visibility: hidden;
  width: 0;
}
.header__background--lady {
  visibility: hidden;
  width: 0;
}
.header__numbers__container {
  visibility: hidden;
  width: 0;
}

@media (min-width: 768px) {
  .header {
    height: 399px;
    max-width: 1279px;
  }
  .header__toggle {
    top: 52px;
    right: 224px;
  }
  .header__headline {
    width: 162px;
    margin-top: 15px;
  }
  .header__headline--first {
    line-height: 25px;
    font-size: 22px;
  }
  .header__headline--second {
    font-size: 34px;
    line-height: 90.5%;
  }
  .header__menu {
    margin-top: 31px;
  }
  .header__button-container {
    margin-top: 19px;
  }
  .header__eco-container {
    visibility: visible;
  }
  .header__background--component-mobile {
    visibility: hidden;
  }
  .ellipse-mobile {
    display: none;
  }
  .ellipse-desktop {
    display: inline;
    position: absolute;
    top: 31px;
    right: 137px;
    width: 324px;
  }
  .header__background--component {
    visibility: visible;
    width: 143px; 
   /* height: 368px; */
    position: absolute;
    right: 247px;
    top: 61px;
  }
  .header__background--lady {
    visibility: visible;
    position: absolute;
    top: 266px;
    right: 34px;
    width: 168px;
    height: 133px;
  }
  .header__numbers__container {
    visibility: visible;
    position: absolute;
    top: 94px;
    right: 34px;
    width: 60px;
  }
  .header__numbers--style {
    list-style-type: none;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #d41443;
    z-index: 2;
    & ul {
      list-style-type: none;
      line-height: 0px;
      margin-bottom: 13px;
    }
  }
  .header__numbers--description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #ffffff;
    flex-wrap: nowrap;
  }
  .header__numbers--number {
    position: relative;
    z-index: 2;
  }
  .header__numbers--number::before {
    width: 16px;
    height: 16px;
    content: '';
    background-size: contain;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -12px;
    left: 50px;
    z-index: -1;
  }
  .header__menu-button {
    visibility: visible;
    width: 160px;
    background: #ffffff;
    border-radius: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    color: #d41443;
    position: absolute;
    top: 38px;
    height: 44px;
    right: 34px;
    padding-left: 37px;
  }
}

@media (min-width: 1280px) {
  .header {
    height: 665px;
    max-width: 100%;
  }
  .header__headline {
    width: 277px;
    margin-top: 84px;
    margin-left: 115px;
  }
  .header__headline--first {
    line-height: 44px;
    font-size: 38px;
  }
  .arrow {
  width: 36px;
}
  .header__headline--second {
    font-size: 58px;
    line-height: 90.5%;
  }
  .ellipse-desktop {
    width: 538px;
    top: 52px;
    right: 267px;
  }
  .header__menu {
    margin-top: 31px;
    margin-left: 46px;
  }
  .header__button {
    height: 40px;
    padding: 15px 24px;
    font-size: 14px;
  }
  .header__button-container {
    max-width: 260px;
    margin-top: 19px;
    margin-left: 115px;
    & a {
      font-size: 14px;
    }
  }
  .header__eco-container {
    margin-top: 56px;
    margin-left: 77px;
    max-width: 420px;
    height: 192px;
  }
  .header__eco-container--description {
    font-size: 14px;
    line-height: 140%;
    max-width: 200px;
    margin-left: 30px;
    margin-bottom: 30px;
    & a {
      max-width: 36px;
    }
    & img {
      margin-top: 30px;
    }
  }
  .header__background--component {
    width: 236px;
    top: 108px;
    right: 450px;
  }
  .header__background--lady {
    top: 433px;
    right: 109px;
  }
  .header__numbers__container {
    top: 156px;
    right: 97px;
    width: 120px;
  }
  .header__numbers--style {
    font-size: 46px;
    z-index: 2;
    & ul {
      margin-bottom: 15px;
    }
  }
  .header__numbers--description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .header__numbers--number::before {
    width: 30px;
    height: 30px;
    content: '';
    /* background-image: url(./images/sprite.svg#ellipse); */
    
    background-size: contain;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 85px;
  }
  .header__navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    & a {
      text-decoration: none;
      color: #ffffff;
      /* display: block; */
    }
    & ul {
      list-style-type: none;
      padding: 0;
      display: flex;
    }
    & li {
      max-width: 120px;
      margin-right: 35px;
    }
  }
  .header__nabar--links {
    display: flex;
    width: calc(100vw - 704px);
    justify-content: space-evenly;
    & li {
      height: 21px;
    }
  }

  .header__nabar--links a:hover {
    color: #d41443;
  }
  .header__menu {
    height: 50px;
  }
   .header__background--lady {
    top: 433px;
    right: 109px;
    width: 293px;
    height: 232px;
  }

}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding-top: 60px;
  background-color: var(--thulian-pink);
  z-index: 999;

  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

  transform: translateX(100%);
  transition: transform var(--transition-duratio) var(--cubic-bezier);

  &__close-button {
    position: absolute;
    top: 23px;
    right: 28px;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: var(--white);
    transition: background-color var(--transition-duratio) var(--cubic-bezier),
      stroke var(--transition-duratio) var(--cubic-bezier);

    &:hover,
    &:focus {
      stroke: var(--black);
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__modal-button {
    width: 209px;
    height: 44px;
    margin-left: 21px;
    margin-bottom: 19px;
    border-radius: 22px;
    background-color: var(--white);
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cherry);

    &:hover,
    &:focus {
      background-color: var(--dawn-pink);
    }
  }

  &__navigation {
    list-style: none;
  }

  &__navigation-item {
    width: 100%;
    height: 42px;
    border: 1px solid #e18298;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-left: 21px;
  }

  &__navigation-link {
    color: var(--white);
    text-decoration: none;
    transition: color var(--transition-duratio) var(--cubic-bezier);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    &:hover,
    &:focus {
      color: var(--cherry);
    }
  }
  &__icon {
    width: 8.56px;
    height: 16px;
    margin-top: 2px;
    stroke: var(--cherry);
    margin-left: 18px;
  }
  .header__background--lady {
    top: 266px;
    right: 433px;
    width: 293px;
    height: 232px;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}
