.header {
  max-width: 767px;
  background-color: #ffb8ca;
  width: 100vw;
  height: 502px;
  padding-top: 6px;
}
.header__menu {
  margin-left: 20px;
  display: flex;
  z-index: 5;
  & .logo {
    margin-right: 110px;
  }
}
.header__sidebar {
  width: 250px;
  height: 502px;
  background-color: #e17992;
  padding-top: 60px;
}
.close-btn {
    position: relative;
    top: 23px;
    right: 28px;
    fill: #ffffff;

}
.sidebar__menu-button {
  margin: auto;
  margin-bottom: 19px;
  visibility: visible;
  width: 160px;
  background: #ffffff;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  color: #d41443;
  height: 44px;
  padding-left: 37px;
}
.sidebar__menu-links {
  & li {
    list-style-type: none;
    padding: 13px 0px 13px 19px;

    border-bottom: 1px solid #e18298;
    border-top: 1px solid #e18298;
    & a {
      text-decoration: none;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      color: #ffffff;
    }
    & a:hover,
    a:focus {
      color: #d41443;
    }
  }
}
.header__toggle {
  z-index: 5;
  position: absolute;
  top: 25px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 12px;
  & .bar {
    height: 2px;
    width: 100%;
    background-color: #d41443;
  }
}
.header__nabar--links {
  display: none;
  width: 250px;
  & & ul {
    flex-direction: column;
  }
}
.header__nabar--links.active {
  display: flex;
}
.header__navbar {
  flex-direction: column;
  align-items: flex-start;
}

.header__background--component-mobile {
  position: absolute;
  right: 0px;
  top: 83px;
}

.header__headline {
  display: flex;
  position: relative;
  width: 218px;
  z-index: 5;
  margin-left: 20px;
  margin-top: 137px;
}

.header__headline--general {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;

  z-index: 5;
}
.header__headline--first {
  color: #ffffff;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.header__headline--second {
  color: #d41443;
  font-size: 48px;
  line-height: 46px;
}
.header__button-container {
  max-width: 155px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.header__button {
  border-radius: 20px;
  height: 24px;
  padding: 8px 14px;
  display: flex;
  align-content: center;
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #d41443;
  background-color: #ffffff;
  border: none;
  z-index: 2;
}
.header__button:hover,
.header__button:focus {
  cursor: pointer;
  background-color: #d41443;
  color: #ffffff;
}
/* RES 768px */
.header__menu-button {
  visibility: hidden;
  width: 0;
}
.header__eco-container {
  margin-left: 20px;
  margin-top: 19px;
  display: flex;
  height: 126px;
  max-width: 230px;
  visibility: hidden;
}
.header__eco-container--description {
  position: relative;
  top: 47px;
  right: 4px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  margin-bottom: 7px;

  color: #ffffff;
}
.header__background--component {
  visibility: hidden;
  width: 0;
}
.header__background--lady {
  visibility: hidden;
  width: 0;
}
.header__numbers__container {
  visibility: hidden;
  width: 0;
}

@media (min-width: 768px) {
  .header {
    height: 399px;
    max-width: 1279px;
  }
  .header__toggle {
    top: 52px;
    right: 224px;
  }
  .header__headline {
    width: 162px;
    margin-top: 15px;
  }
  .header__headline--first {
    line-height: 25px;
    font-size: 22px;
  }
  .header__headline--second {
    font-size: 34px;
    line-height: 90.5%;
  }
  .header__menu {
    margin-top: 31px;
  }
  .header__button-container {
    margin-top: 19px;
  }
  .header__eco-container {
    visibility: visible;
  }
  .header__background--component-mobile {
    visibility: hidden;
  }
  .header__background--component {
    visibility: visible;
    width: 324px;
    height: 368px;
    position: absolute;
    right: 137px;
    top: 31px;
  }
  .header__background--lady {
    visibility: visible;
    position: absolute;
    top: 266px;
    right: 34px;
    width: 168px;
    height: 133px;
  }
  .header__numbers__container {
    visibility: visible;
    position: absolute;
    top: 94px;
    right: 34px;
    width: 60px;
  }
  .header__numbers--style {
    list-style-type: none;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #d41443;
    z-index: 2;
    & ul {
      list-style-type: none;
      line-height: 0px;
      margin-bottom: 13px;
    }
  }
  .header__numbers--description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #ffffff;
    flex-wrap: nowrap;
  }
  .header__numbers--number {
    position: relative;
    z-index: 2;
  }
  .header__numbers--number::before {
    width: 16px;
    height: 16px;
    content: '';
    background-image: url(/src/images/sprite.svg#ellipse);
    background-size: contain;
    display: inline-block;
    position: relative;
    top: -12px;
    left: 50px;
    z-index: 1;
  }
  .header__menu-button {
    visibility: visible;
    width: 160px;
    background: #ffffff;
    border-radius: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    color: #d41443;
    position: absolute;
    top: 38px;
    height: 44px;
    right: 34px;
    padding-left: 37px;
  }
}

@media (min-width: 1280px) {
  .header {
    height: 665px;
    max-width: 1800px;
  }
  .header__headline {
    width: 277px;
    margin-top: 84px;
    margin-left: 115px;
  }
  .header__headline--first {
    line-height: 44px;
    font-size: 38px;
  }
  .header__headline--second {
    font-size: 58px;
    line-height: 90.5%;
  }
  .header__menu {
    margin-top: 31px;
    margin-left: 46px;
  }
  .header__button-container {
    margin-top: 19px;
    margin-left: 115px;
  }
  .header__eco-container {
    margin-left: 77px;
  }
  .header__eco-container--description {
    font-size: 14px;
    line-height: 140%;
  }
  .header__eco-container {
    max-width: 488px;
  }
  .header__background--component {
    top: 52px;
    right: 267px;
  }
  .header__background--lady {
    top: 433px;
    right: 109px;
  }
  .header__numbers__container {
    top: 156px;
    right: 97px;
    width: 120px;
  }
  .header__numbers--style {
    font-size: 46px;
    z-index: 2;
    & ul {
      margin-bottom: 15px;
    }
  }
  .header__numbers--description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .header__numbers--number::before {
    width: 30px;
    height: 30px;
    content: '';
    background-image: url(/images/Ellipse\ 1.svg);
    background-size: contain;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 85px;
  }
  .header__navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & a {
      text-decoration: none;
      color: #ffffff;
      /* display: block; */
    }
    & ul {
      list-style-type: none;
      padding: 0;
      display: flex;
    }
    & li {
      max-width: 120px;
      margin-right: 35px;
    }
  }
  .header__nabar--links {
    display: flex;
    max-width: calc(100vw - 739px);
  }

  .header__nabar--links a:hover {
    color: #d41443;
  }
  .header__menu {
    height: 50px;
  }
}
