.products {
    &__wrapper {
        width: 100%;
        padding: 121px 20px 98px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
            padding: 122px 34px 112px 34px;
        }
    }

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        font-family: 'Titan One';
        font-size: clamp(1.12rem, 3.4vw, 1.87rem);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 130px;

        @media screen and (min-width: 768px) {
            margin-bottom: 150px;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 237px;
        }

        &-label {
            line-height: 1.17;
            color: var(--flamingo-pink);
            margin-bottom: 15px;
        }

        &-title {
            line-height: 1.15;
            letter-spacing: 0.04em;
            color: var(--cherry);
            font-size: clamp(2.12rem, 6.3vw, 3.62rem);
        }
    }

    &__grid {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 130px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 20px;
        }

        @media screen and (min-width: 1280px) {
            gap: 29px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 330px;
        position: relative;
        color: var(--white);
        border-radius: 24px;
        padding-top: 161px;
        padding-bottom: 41px;
        padding-inline: 14%;

        &--icecream {
            background-color: var(--cherry-blossom);
        }

        &--icecoffee {
            background-color: var(--deep-peach);
        }

        &--milkshakes {
            background-color: var(--sprout);
        }

        @media screen and (min-width:768px) {
            padding-top: 152px;
            padding-inline: 5%;
        }

        @media screen and (min-width:1280px) {
            padding-bottom: 50px;
            padding-top: 163px;
            padding-inline: 13.5%;
        }

        &::before {
            display: block;
            position: absolute;
            top: -23%;
            content: "";
            width: 100%;
            min-height: 252px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @media screen and (min-width:768px) {
                min-height: 226px;
                top: -21%;
            }

            @media screen and (min-width:1280px) {
                min-height: 335px;
                top: -209px;
            }
        }

        &--icecream::before {
            background-image: url(../images/icecream-mobile-x1.png);

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/icecream-mobile-x2.png);
            }

            @media screen and (min-width:768px) {
                background-image: url(../images/icecream-tablet-x1.png);

                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/icecream-tablet-x2.png);
                }
            }

            @media screen and (min-width:1280px) {
                background-image: url(../images/icecream-desktop-x1.png);

                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/icecream-desktop-x2.png);
                }
            }
        }

        &--icecoffee::before {
            background-image: url(../images/icecoffee-mobile-x1.png);

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/icecoffee-mobile-x2.png);
            }

            @media screen and (min-width:768px) {
                background-image: url(../images/icecoffee-tablet-x1.png);

                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/icecoffee-tablet-x2.png);
                }
            }

            @media screen and (min-width:1280px) {
                background-image: url(../images/icecoffee-desktop-x1.png);

                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/icecoffee-desktop-x2.png);
                }
            }
        }

        &--milkshakes::before {
            background-image: url(../images/milkshakes-mobile-x1.png);

            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/milkshakes-mobile-x2.png);
            }

            @media screen and (min-width:768px) {
                background-image: url(../images/milkshakes-tablet-x1.png);

                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/milkshakes-tablet-x2.png);
                }
            }

            @media screen and (min-width:1280px) {
                background-image: url(../images/milkshakes-desktop-x1.png);

                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/milkshakes-desktop-x2.png);
                }
            }
        }

        &-overlay {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            border-radius: 24px;
            padding-inline: 14%;
            transform: translateX(0);
            transition-duration: var(--transition-duration);
            transition-timing-function: var(--cubic-bezier);

            &--icecream {
                background: var(--cherry-blossom);
            }

            &--icecoffee {
                background-color: var(--deep-peach);
            }

            &--milkshakes {
                background-color: var(--sprout);
            }
        }

       .is-hidden {
            visibility: hidden;
            pointer-events: none;
            transform: translateX(100%) scale(0);
            transition-duration: var(--transition-duration);
            transition-timing-function: var(--cubic-bezier);
        }
    }

    &__name {
        display: block;
        font-family: 'Titan One';
        font-weight: 400;
        font-size: clamp(1.25rem, 2.5vw, 1.87rem);
        line-height: 1.14;
        text-transform: uppercase;
        text-align: center;

        &::after {
            display: block;
            margin-inline: auto;
            margin-block: 30px;
            background-image: url(../images/whitedots-x1.png);
            content: "";
            width: 26px;
            height: 6px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @media screen and (min-width:1280px) {
                margin-block: 32px;
            }
        }

        &--overlay::after {
            margin-top: 30px;
            margin-bottom: 0;

            @media screen and (min-width:768px) {
                margin-top: 15px;
            }

            @media screen and (min-width:1280px) {
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }

    &__overlay {
        &-list {
            list-style-type: disc;
        }
        
        &-item {
            max-height: 105px;
        }
    }

    &__copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        line-height: 1.52;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.04em;
        margin-bottom: 30px;
        overflow: hidden;
        height: 124px;
        
        @media screen and (min-width: 768px) {
            font-size: clamp(0.87rem, 1.5vw, 1rem);
            line-height: 1.76;
            margin-bottom: 40px;
        }

        @media screen and (min-width: 1280px) {
            height: 106px;
            margin-bottom: 62px;
        }

        &--overlay {
            justify-content: center;
            margin: 0;
        }
    }
}

.btn {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    background-image: url("../images/arrow-x1.png");
    cursor: pointer;
    padding: 0;
    margin-inline: auto;
    transform: rotate(0) scale(1);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--cubic-bezier);

    &:hover,
    &:focus {
        transform: rotate(360deg) scale(1.5);
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--cubic-bezier);
    }
}

.btn__close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    transform: scale(1);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--cubic-bezier);

    &:hover,
    &:focus {
        transform: scale(1.5);
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--cubic-bezier);
    }
}