.products {
    &__wrapper {
        max-width: 100%;
        padding: 121px 20px 98px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
            padding: 122px 34px 112px 34px;
        }
    }

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 130px;

        @media screen and (min-width: 768px) {
            margin-bottom: 150px;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 237px;
        }

        &-label {
            font-size: 18px;
            line-height: 1.17;
            color: rgb(255, 165, 186);
            margin: 0 0 15px 0;

            @media screen and (min-width: 768px) {
                font-size: 26px;
                line-height: 1.15;
            }

            @media screen and (min-width: 1280px) {
                font-size: 30px;
                line-height: 1.13;
            }
        }

        &-title {
            font-size: 34px;
            line-height: 1.15;
            letter-spacing: 0.04em;
            color: rgb(212, 20, 67);
            margin: 0 auto;

            @media screen and (min-width: 768px) {
                font-size: 40px;
                line-height: 1.46;
            }

            @media screen and (min-width: 1280px) {
                font-size: 58px;
                line-height: 1.14;
            }
        }
    }

    &__grid {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 130px;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 20px;
        }

        @media screen and (min-width: 1280px) {
            gap: 29px;
        }
    }

    &__card {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        color: rgb(255, 255, 255);
        border-radius: 24px;
        padding-bottom: 41px;

        &::before {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            content: "";
            width: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            // max-width: 249px;
            min-height: 224px;
            // transform: translateY(-45%) translatex(-45%);
            // margin-bottom: 22px;
        }

        &--icecream::before {
            background-image: url(../images/icecream-mobile-x1.png);
        }

        &--icecoffee::before {
            background-image: url(../images/icecoffee-mobile-x1.png);
        }

        &--milkshakes::before {
            background-image: url(../images/milkshakes-mobile-x1.png);
        }

        @media screen and (min-width:768px) {
            max-width: 100%
        }

        @media screen and (min-width: 768px) {
            width: 220px;
        }

        @media screen and (min-width: 1280px) {
            width: 329px;
        }

        &--icecream {
            background-color: rgb(255, 184, 202);
        }

        &--icecoffee {
            background-color: rgb(240, 209, 165);
        }

        &--milkshakes {
            background-color: rgb(194, 226, 151);
        }
    }

    &__name {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.14;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 66px;

        &::after {
            display: block;
            margin: 0;
            content: "";
            width: 26px;
            height: 6px;
            background-image: url(../images/whitedots-x1.png);
            // transform: translateY(565%) translateX(430%);
        }

        @media screen and (min-width:1280px) {
            font-size: 30px;
        }
    }

    &__copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        line-height: 1.52;
        padding-left: 41px;
        padding-right: 39px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.04em;
        margin-bottom: 30px;
        overflow: hidden;

        @media screen and (min-width: 480px) {
            margin-bottom: 25px;
            font-size: 16px;
        }

        @media screen and (min-width: 768px) {
            padding: 0px 11px 0 11px;
            line-height: 1.76;
            // height: 124px;
        }

        @media screen and (min-width: 1280px) {
            padding: 0px 44px 0 44px;
            line-height: 1.76;
            height: 106px;
            font-size: 16px;
        }
    }
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    background-image: url("../images/arrow-x1.png");
    cursor: pointer;
    padding: 0;

    @media screen and (min-width: 768px) {
        margin-block: 40px;
    }

    // @media screen and (min-width: 1280px) {
    //     margin-top: 62px;
    //     margin-bottom: 50px;
    // }
}