:root {
  --cherry-blossom: #ffb8ca;
  --flamingo-pink: #ffa5ba;
  --white: #ffffff;
  --rose-white: #fff5f6;
  --alabaster: #fafafa;
  --deep-peach: #f0d1a5;
  --sprout: #c2e297;
  --thulian-pink: #e17992;
  --cherry: #d41443;
  --black: #000000;
  --natural-grey: #907e82;
  --cardinal: #c7133e;
  --debian-red: #d31342;
  --light-grey: #d9d9d9;
  --soft-pink: #fea5bb;
  --platinum: #e1e1e1;
  --dawn-pink: #ecebeb;
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile-width: 480px;
  --tablet-width: 768px;
  --desktop-width: 1200px;
}
