/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './variables';
@import './normalize';
@import './example';
@import './advantages';
@import './customer-reviews';
@import './contacts';
@import './products';
@import './footer';
@import './about';