/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu

@import './variables';
@import './normalize';
@import '.hero-header';
@import './customer-reviews';
@import './contacts';
@import './products';
@import './advantages';
