<section class="about" id="about">
  <div class="about__wrapper">
    <p class="about__label">tradition and love</p>
    <h2 class="about__header">how it’s made?</h2>
  </div>
  <div class="about__content">
    <div class="about__container">
      <img
        src="././images/milkandcow-mobile-x1.png"
        alt="krowa i mleko"
        class="about__image"
        srcset="
          ././images/milkandcow-mobile-x1.png  280w,
          ././images/milkandcow-mobile-x2.png  280w,
          ././images/milkandcow-tablet-x1.png  340w,
          ././images/milkandcow-tablet-x2.png  340w,
          ././images/milkandcow-desktop-x1.png 516w,
          ././images/milkandcow-desktop-x2.png 516w
        "
        sizes="(min-width: 320px) 280px, (min-width: 772px) 340px, (min-width: 1280px) 516px"
      />
    </div>
    <div class="about__box">
      <p class="about__text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__paragraph">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button type="button" class="about__button" data-modal-open-a>
        Read more
        <svg class="about__button-icon" width="9" height="16">
          <use href="/./images/vector-sprite1.svg#icon-vector1"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="backdrop is-hidden" data-modal-a>
    <div class="modal-about modal-about--position">
      <button class="modal-about__close-button" data-modal-close-a>
        <svg height="10" width="10" class="modal-about__icon">
          <use href="./images/symbol-defs-contacts.svg#icon-close"></use>
        </svg>
      </button>
      <h3 class="modal-about__title">About us</h3>
      <p class="modal-about__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatibus, vero
        doloremque cupiditate blanditiis, facere iure nam illo reiciendis explicabo debitis
        temporibus dicta ab corrupti, minus magni suscipit dolorem ullam incidunt ipsam atque.
        Beatae atque expedita est illum nobis deserunt debitis labore explicabo! Suscipit incidunt,
        id numquam necessitatibus provident quidem.
      </p>
      <ul class="modal-about__list">
        <li>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, cum impedit! Optio,
          voluptatum repudiandae ipsam dignissimos aspernatur nesciunt, vitae quo sed amet ex
          blanditiis beatae non sunt sit harum ipsum.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sed nisi sint expedita
          mollitia fugiat quia culpa cum, odit accusantium corrupti recusandae saepe in vero dolor
          quibusdam illo quae numquam!
        </li>
        <li>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione totam itaque dolor ipsam
          incidunt voluptatem? Incidunt autem eveniet neque soluta. Aspernatur deserunt recusandae
          eos, et alias non ducimus eum optio?
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic autem omnis atque dolores
          natus ipsum totam, provident vel asperiores, vitae nisi impedit a reprehenderit ex
          suscipit fugit, esse culpa voluptatem!
        </li>
      </ul>
    </div>
  </div>
</section>
