<section class="section section--contacts section--gradient">
  <h2 class="is-invisible">Contacts</h2>
  <div class="container container--contacts">
    <ul class="contacts">
      <li class="contacts__item">
        <span class="contacts__category contacts__category--cafe">CAFE</span>
        <address>
          <p class="contacts__place">Chicago</p>
          <p class="contacts__coment">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </address>
        <div class="contacts__open">
          <p class="contacts__days">Monday - Friday</p>
          <p class="contacts__hours contacts__hours--margin">06:00 AM - 10:00 PM</p>
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__info">
          <li><a href="tel:+61(0) 383 766 284" class="contacts__link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__item">
        <span class="contacts__category contacts__category--foodtruck">FOOD TRUCK</span>
        <div>
          <h3 class="contacts__place">Los Angeles</h3>
          <p class="contacts__coment">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__open">
          <p class="contacts__days">Monday - Friday</p>
          <p class="contacts__hours contacts__hours--margin">06:00 AM - 10:00 PM</p>
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__info">
          <li><a href="tel:+61(0) 383 766 284" class="contacts__link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__item">
        <span class="contacts__category contacts__category--cafe">CAFE</span>
        <div>
          <h3 class="contacts__place">New York</h3>
          <p class="contacts__coment">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__open">
          <p class="contacts__days">Monday - Friday</p>
          <p class="contacts__hours contacts__hours--margin">06:00 AM - 10:00 PM</p>
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__info">
          <li><a href="tel:+61(0) 383 766 284" class="contacts__link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>

    <ul class="map-btns map-btns--margin">
      <li><button type="button" class="map-btns__btn map-btns__btn--red">Our Locations</button></li>
      <li><button type="button" class="map-btns__btn map-btns__btn--white">Franchise</button></li>
    </ul>
  </div>
</section>
