<section class="customer-reviews">
  <div class="slider">
    <div class="customer-reviews__slider">
      <img
        class="customer-reviews__img"
        src="./images/testimonials-mobile-x1.png"
        alt="customer picture"
      />
      <div class="customer-reviews__block">
        <p class="customer-reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
    <div class="customer-reviews__slider">
      <img
        class="customer-reviews__img"
        src="./images/testimonials2-desktop-x1.png"
        alt="customer picture"
      />
      <div class="customer-reviews__block">
        <p class="customer-reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
    <div class="customer-reviews__slider">
      <img
        class="customer-reviews__img"
        src="./images/testimonials3-desktop-x1.png"
        alt="customer picture"
      />
      <div class="customer-reviews__block">
        <p class="customer-reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
  </div>
  <span class="customer-reviews__customer">Emily, Los Angeles</span>
  <div class="customer-reviews__icon-list">
    <svg width="12.4" height="12" class="customer-reviews__icon-1">
      <use href="./images/sprite.svg#icon-home"></use>
    </svg>
    <svg width="12" height="12" class="customer-reviews__icon-2">
      <use href="./images/sprite.svg#icon-ellipse-gray"></use>
    </svg>
    <svg width="12" height="12" class="customer-reviews__icon-3">
      <use href="./images/sprite.svg#icon-ellipse-gray"></use>
    </svg>
  </div>
</section>
