<section class="customer-reviews">
  <img class="customer-reviews__img" />
  <div class="customer-reviews__block">
    <!-- <svg class="customer-reviews__text-icon"><use></use></svg> -->
    <p class="customer-reviews__text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
  </div>
  <svg class="customer-reviews__icon">
    <use></use>
  </svg>
  <span class="customer-reviews__customer">Emily, Los Angeles</span>
  <div class="customer-reviews__icon-list">
    <svg class="customer-reviews__icon-1">
      <use></use>
    </svg>
    <svg class="customer-reviews__icon-2">
      <use></use>
    </svg>
    <svg class="customer-reviews__icon-3">
      <use></use>
    </svg>
  </div>
</section>
