<section class="container2">
  <div class="gallery">
    <picture class="gallery__picture">
      <source
        media="(min-width: 1280px)"
        srcset="./images/gallery-desktop-x1.png 1x, ./images/gallery-desktop-x2.png 2x"
        type="image/png"
      />

      <source
        media="(min-width: 768px)"
        srcset="./images/gallery-tablet-x1.png 1x, ./images/gallery-tablet-x2.png 2x"
        type="image/png"
      />

      <source
        media="(max-width: 767px)"
        srcset="./images/gallery-mobile-x1.png 1x, ./images/gallery-mobile-x2.png 2x"
        type="image/png"
      />
      <img src="./images/gallery-mobile-x1.png" alt="gallery" />
    </picture>
  </div>
</section>
