<header>
      <div class="header">
        <div class="header__menu">
          
          <a class="logo" href="#"><img src="/images/logo 1.png" width="199px" /></a>
          <nav class="header__navbar">
            <a href="#" class="header__toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </a>
            <div class="header__nabar--links">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">How it's made?</a></li>
                <li><a href="#">Our Products</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </nav>
          <button type="button" class="header__menu-button">Buy now</button>
        </div>
        <div class="header__headline">
          <h1 class="header__headline--general">
            <span class="header__headline--first">ICE CREAM MADE WITH</span
            ><span class="header__headline--second"> PASSION </span>
          </h1>
        </div>
        <div class="header__button-container">
          <button type="button" class="header__button">Products</button>
          <button type="button" class="header__button">How it's made?</button>
        </div>
        <div class="header__eco-container">
          <img src="/src/images/milk-tablet-x1.png" />
          <p class="header__eco-container--description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et <br />
            <a href="#"><img src="/src/images/arrow-x1.png" width="18" height="18" /></a>
          </p>
        </div>
        <div class="header__numbers__container">
          <ul class="header__numbers--style">
            <li class="header__numbers--number">
              16
              <ul>
                <li><span class="header__numbers--description">cafes</span></li>
              </ul>
            </li>
            <li class="header__numbers--number">
              23
              <ul>
                <li><span class="header__numbers--description">food trucks</span></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <img class="header__background--component-mobile" src="/src/images/Component 1.png" />
      <img class="header__background--component" src="/src/images/Component 2.png" />
      <!-- <img
                    src="images/2team270.jpg"
                    alt="John Doe - Frontend Developer"
                    class="team__img"
                    srcset="
                    ./images/2team450.jpg     450w,
                    ./images/2team450@2x.jpg     900w,
                    ./images/2team354.jpg     354w,
                    ./images/2team354@x2.jpg     708w,
                    ./images/2team270.jpg     270w,
                    ./images/2team270@x2.jpg     540w,
                    "
                    sizes="(min-width: 1200px) 270, (min-width: 768px) 354px, (min-width: 480px) 450px"
                  />   -->
      <img class="header__background--lady" src="/src/images/soootasty-tablet-x1.png" />
    </header>
    <div class="header__sidebar">
      <span>
              <svg class="close-btn" width="14" height="14">
                <use href="/src/images/sprite.svg#icon-close"></use>
              </svg>
            </span>
      <button type="button" class="sidebar__menu-button">Buy now</button>
       <ul class="sidebar__menu-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">How it's made?</a></li>
                <li><a href="#">Our Products</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
    </div>
   