<header>
  <div class="header">
    <div class="header__menu">
      <a class="logo" href="#"><img src="./images/logo@2x.png" width="199px" /></a>

      <nav class="header__navbar">
        <a
          href="#"
          class="header__toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="header__nabar--links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#advantages">About us</a></li>
            <li><a href="#about">How it's made?</a></li>
            <li><a href="#products">Our Products</a></li>
            <li><a href="#contacts">Contact</a></li>
          </ul>
        </div>
      </nav>
      <button type="button" class="header__menu-button">
        Buy now
        <svg class="mobile-menu__icon">
          <use href="./images/symbol-defs-contacts.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="header__headline">
      <h1 class="header__headline--general">
        <span class="header__headline--first">ICE CREAM MADE WITH</span
        ><span class="header__headline--second"> PASSION </span>
      </h1>
    </div>
    <div class="header__button-container">
      <button type="button" class="header__button"><a href="#products">Products</a></button>
      <button type="button" class="header__button"><a href="#about">How it's made?</a></button>
    </div>
    <div class="header__eco-container">
      <img
        src="./images/milk-tablet-x1.png"
        alt="dzbanek"
        srcset="
          ./images/milk-tablet-x1.png  124w,
          ./images/milk-tablet-x2.png  248w,
          ./images/milk-desktop-x1.png 188w,
          ./images/milk-desktop-x2.png 376w
        "
        sizes="(min-width: 1280px) 188px, (min-width: 768px) 124px"
      />
      <p class="header__eco-container--description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et <br />
        <a href="#"><img src="./images/arrow-x1.png" alt="strzalka" class="arrow" /></a>
      </p>
    </div>
    <div class="header__numbers__container">
      <ul class="header__numbers--style">
        <li class="header__numbers--number">
          16
          <ul>
            <li><span class="header__numbers--description">cafes</span></li>
          </ul>
        </li>
        <li class="header__numbers--number">
          23
          <ul>
            <li><span class="header__numbers--description">food trucks</span></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <img
    class="header__background--component-mobile"
    src="./images/bigicecream-mobile-x1.png"
    alt="Rozek"
    srcset="./images/bigicecream-mobile-x1.png 171w, ./images/bigicecream-mobile-x2.png 342w"
    sizes="(min-width: 240px) 171px"
  />
  <img class="ellipse-mobile" src="./images/ellipse-mobile-x1.png" />
  <img class="ellipse-desktop" src="./images/ellipse-desktop-x1.png" />
  <img
    class="header__background--component"
    src="./images/bigicecream-tablet-x1.png"
    alt="Rozek"
    srcset="
      ./images/bigicecream-tablet-x1.png  143w,
      ./images/bigicecream-tablet-x2.png  286w,
      ./images/bigicecream-desktop-x1.png 236w,
      ./images/bigicecream-desktop-x2.png 472w
    "
    sizes="(min-width: 1280px) 236px, (min-width: 768px) 143px"
  />
  <img
    class="header__background--lady"
    src="./images/soootasty-tablet-x1.png"
    alt="Pani z lodem"
    srcset="
      ./images/soootasty-tablet-x1.png  168w,
      ./images/soootasty-tablet-x2.png  336w,
      ./images/soootasty-desktop-x1.png 293w,
      ./images/soootasty-desktop-x2.png 586w
    "
    sizes="(min-width: 1280px) 293px, (min-width: 768px) 168px"
  />
</header>
<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button type="button" class="mobile-menu__close-button js-close-menu">
    <svg height="14px" width="14px">
      <use href="./images/symbol-defs-contacts.svg#icon-close"></use>
    </svg>
  </button>

  <button type="button" class="mobile-menu__modal-button">
    Buy now
    <svg class="mobile-menu__icon">
      <use href="./images/symbol-defs-contacts.svg#icon-arrow-right"></use>
    </svg>
  </button>

  <ul class="mobile-menu__navigation">
    <li class="mobile-menu__navigation-item">
      <a href="#header" class="mobile-menu__navigation-link">Home</a>
    </li>
    <li class="mobile-menu__navigation-item">
      <a href="#about" class="mobile-menu__navigation-link">About us</a>
    </li>
    <li class="mobile-menu__navigation-item">
      <a href="#advantages" class="mobile-menu__navigation-link">How it’s made?</a>
    </li>
    <li class="mobile-menu__navigation-item">
      <a href="#products" class="mobile-menu__navigation-link">Our products</a>
    </li>
    <li class="mobile-menu__navigation-item">
      <a href="#contacts" class="mobile-menu__navigation-link">Contact</a>
    </li>
  </ul>
</div>
