<section class="products" id="products">
  <div class="products__wrapper">
    <div class="products__heading">
      <p class="products__heading-label">100% natural</p>
      <h2 class="products__heading-title">products</h2>
    </div>
    <ul class="products__grid">
      <li class="products__grid-item">
        <div class="products__card products__card--icecream">
          <div class="products__card-overlay products__card-overlay--icecream is-hidden" data-modal-i>
            <button class="btn__close" type="button" data-modal-close-i>
              <svg class="btn__close-icon" width="14" height="14">
                <use href="./images/icons.svg#icon-close"></use>
              </svg></button>
              <h3 class="products__name products__name--overlay">ice cream</h3>
            <ul class="products__overlay-list">
              <li class="products__overlay-item">
                <p class="products__copy products__copy--overlay">Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod
            tempor</p>
              </li>
              <li class="products__overlay-item">
                <p class="products__copy products__copy--overlay">Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod
            tempor</p>
              </li>
              <li class="products__overlay-item">
                <p class="products__copy products__copy--overlay">Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod
            tempor</p>
              </li>
            </ul>
          </div>
          <h3 class="products__name products__name--icecream">ice cream</h3>
          <p class="products__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor
            incididunt ut labore et. dolore magna aliqua facilisis.</p>
          <button class="products__card-btn btn" type="button" data-modal-open-i></button>
        </div>
      </li>
      <li class="products__grid-item">
        <div class="products__card products__card--icecoffee">
          <div class="products__card-overlay products__card-overlay--icecoffee is-hidden" data-modal-c>
            <button class="btn__close" type="button" data-modal-close-c>
              <svg class="btn__close-icon" width="14" height="14">
                <use href="./images/icons.svg#icon-close"></use>
              </svg></button>
              <h3 class="products__name products__name--overlay">ice coffee</h3>
              <ul class="products__overlay-list">
                <li class="products__overlay-item">
                  <p class="products__copy products__copy--overlay">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod
                    tempor</p>
                </li>
                <li class="products__overlay-item">
                  <p class="products__copy products__copy--overlay">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod
                    tempor</p>
                </li>
                <li class="products__overlay-item">
                  <p class="products__copy products__copy--overlay">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod
                    tempor</p>
                </li>
              </ul>
          </div>
          <h3 class="products__name products__name--icecoffee">ice coffee</h3>
          <p class="products__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor
            incididunt ut labore et. dolore magna aliqua facilisis.</p>
          <button class="products__card-btn btn" type="button" data-modal-open-c></button>
        </div>
      </li>
      <li class="products__grid-item">
        <div class="products__card products__card--milkshakes">
          <div class="products__card-overlay products__card-overlay--milkshakes is-hidden" data-modal-m>
            <button class="btn__close" type="button" data-modal-close-m>
              <svg class="btn__close-icon" width="14" height="14">
                <use href="./images/icons.svg#icon-close"></use>
              </svg></button>
              <h3 class="products__name products__name--overlay">milkshakes</h3>
              <ul class="products__overlay-list">
                <li class="products__overlay-item">
                  <p class="products__copy products__copy--overlay">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod
                    tempor</p>
                </li>
                <li class="products__overlay-item">
                  <p class="products__copy products__copy--overlay">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod
                    tempor</p>
                </li>
                <li class="products__overlay-item">
                  <p class="products__copy products__copy--overlay">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod
                    tempor</p>
                </li>
              </ul>
          </div>
          <h3 class="products__name products__name--milkshakes">milkshakes</h3>
          <p class="products__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor
            incididunt ut labore et. dolore magna aliqua facilisis.</p>
          <button class="products__card-btn btn" type="button" data-modal-open-m></button>
        </div>
      </li>
    </ul>
  </div>
</section>